div {
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
}


div.Izquierdo {
    border: 5px solid blue;
}

div.linea {
    display: inline;
    position: fixed;
    top: 50%;
    right: 20px;
    background-color: yellow;
}

div.linea_izquierda {
    position: sticky;
    top: 20px;
    border: 5px solid blue;
}